body{
    margin:0;
    /* padding: 0; */
    background-image: url("./images/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 224, 243);
    user-select: none;
}

.header-container{
    height: 100px;
    display: flex;
}

.title{
    font-size: 50px;
    margin: 0;
    text-align: left;
    color: aliceblue;
    text-shadow: 1px 2px black;
    /* margin-right: 36%; */
}

.size-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}
.size-markers{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 20px;
}
.size-markers div {
    background-color: rgba(151, 184, 98, 0.819);
    border: 1px solid black;
    box-shadow: 2px 2px black;
}
.size-s{
    height: 5px;
    width: 5px;
    background-color: rgb(70, 125, 236);
}
.size-m{
    height: 10px;
    width: 10px;
    background-color: rgb(70, 125, 236);
}
.size-l{
    height: 15px;
    width: 15px;
    background-color: rgb(70, 125, 236);
}
.size-xl{
    height: 20px;
    width: 20px;
    background-color: rgb(70, 125, 236);
}
.size-xxl{
    height: 25px;
    width: 25px;
    background-color: rgb(70, 125, 236);
}
.toggle-container{
    display: flex;
    align-items: center;
    /* background-color: rgb(111, 165, 129); */
    height:8px;
    /* width: 150px; */

}


.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
}
.slider::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    appearance: none;
    width: 25px;
    height: 25px;
    /* background: #5a8b3e; */
    background: linear-gradient(to bottom, rgba(139,170,112,1) 2%,rgba(31,59,8,1) 100%);
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #aa1704;
    cursor: pointer;
  }





#main-container{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 520px;
    height: 800px;
    /* margin-bottom: 165px; */
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 58, 35);
    border: 2px solid rgba(24, 31, 6, 0.876);
    box-shadow: 3px 4px rgb(44, 17, 3);
    
}

.cloud {
    position: absolute;
    height: 40%;
    right: 5px;
    top: 15%;
    z-index: -1;
    animation: move 120s infinite linear;
    transform: translateX(-100%);
}

@keyframes move {
    from {transform: translateX(0vw)}
    to {transform: translateX(-100vw)}

}

.cloud2 {
    position: absolute;
    height: 20%;
    right: 5px;
    top: 60px;
    z-index: -2;
    animation: move2 180s infinite linear;
}

@keyframes move2 {
    0% {
     transform: translateX(-0vw) ;
   }
   
   70% {
     transform: translateX(-70vw) ;
   }
   
   100% {
     transform: translateX(-100vw);
   }
 }

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:  20px;
    background-color: rgb(243, 243, 243);
    /* border: 2px solid rgba(90, 99, 50, 0.897); This has to be removed as it was causing all cells to be painted on the screen when cursor went over it */ 
    cursor: pointer;
}

.square {
    /* border: 1px solid rgba(0, 0, 0, 0.075); */
    /* border: 1px solid rgba(241, 216, 216, 0.555); */
    box-sizing: border-box;	
  
}
.main-btn-container{
    display: flex;
    gap: 50%;

    border: 2px solid rgb(65, 39, 0);
    padding: 20px;
    border-radius: 20px;
}
.btn-container-left{
    display: flex;
    gap: 20px;
    width: 50%;

}
.shade-eraser-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
  
    /* margin-right: 90px; */
}
.shade-eraser-container button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.btn {
    background-color: rgba(151, 184, 98, 0.719);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 0px -1px 1px rgb(0, 0, 0);
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(166, 197, 116, 0.781);
}
.btn-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.multi {
    background: linear-gradient(to bottom, 
    rgba(255,50,50,1) 0%,rgba(255,172,40,1)
     18%,rgba(251,255,48,1) 36%,rgba(109,242,0,1)
      52%,rgba(0,229,255,1) 70%,rgba(63,0,255,1)
       85%,rgba(182,0,255,1) 100%);

    /* color: black;    */
}
.multi:hover{
    background-color: white;
}
.shade {
    background: linear-gradient(to bottom, rgba(118,150,36,1) 0%,
    rgba(168,183,146,0.77) 47%,rgba(255,255,255,0.52) 100%);
    /* color: black; */
}
.text {
    color: white;
    font-size: 24px;
    text-shadow: 0px -1px 1px rgb(0, 0, 0);

}
.color-btn-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}
input[type="color" i] {
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;
    height: 60px;
    width: 60px;

  }
input[type="color" i]:hover{
    box-shadow: -1px -3px 29px 10px rgba(255, 255, 255, 0.068);
}
input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
    
}

.btn-container-right{
    display: flex;
    justify-content: center;

}

/* .square-color{
    
    background-color: rgb(0, 0, 0)
}

.remove-color{
    background-color: rgb(243, 243, 243);
} */

